@media (max-width: 480px) {
  /* Estilos para telas de smartphones (largura até 480px) */
  body {
    font-size: 14px;
    padding: 0;
    margin: 0;
  }

  .container {
    
  }

  .header {
    height: 12vh;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .menuIcon {
    margin-left: auto;
    margin-right: 10vw;
    width: 15vw;
    height: 7vh;
  }

  .logo {
    margin-left: 5vw;
    width: 18vw;
    height: 10vh;
    max-height: 80px;
  }

  .sectionWords {
    color: black;
    font-size: 50px;
    font-family: fantasy;
  }
}
