@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

@keyframes slideIn {
  from {
    opacity: 0;                
    transform: translateX(-50px); 
  }
  to {
    opacity: 1;                
    transform: translateX(0);  
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Tamanho original */
  }
  50% {
    transform: scale(1.1); /* Aumenta o tamanho para 110% */
  }
  100% {
    transform: scale(1); /* Retorna ao tamanho original */
  }
}


/* smarthphones */

@media (max-width: 480px) {
  
  body {
    font-size: 14px;
    padding: 0;
    margin: 0;
  }

  .container {
    
  }

  .header {
    height: 12vh;
    display: flex;
    align-items: center;
    position: relative; 
    background-color: rgba(255, 255, 255); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    border-radius: 0px 0px 25px 25px;
  }

  .menuIcon {
    margin-left: auto;
    margin-right: 10vw;
    width: 14vw;
    height: 6.5vh;
  }

  .logo {
    margin-left: 5vw;
    width: 18vw;
    height: 10vh;
    max-height: 65px;
  }

  .divSection {
    background-image: url("./assets/images/imagemFundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    margin-top: -20px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 1s ease-in-out; /* Suaviza a mudança de opacidade */
  }
  
  .divSection2 {
    background-image: url("./assets/images/imagemFundo2.jpg"); /* Nova imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    margin-top: -20px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 1s ease-in-out; /* Transição suave */
  }
  
  .hidden {
    opacity: 0; /* Opacidade zero para esconder a imagem durante a troca */
  }

  .FraseSection1 {
    margin: 0;
    font-family: 'Protest Strike', sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255); 
    /*text-shadow: 4px 3px 5px rgba(0, 0, 0, 0.7); */
    text-shadow: 3px 3px black;
    display: flex;               
    flex-direction: column;      
    justify-content: center;     
    align-items: center; 
    text-align: center;          
    position: relative;
    animation: slideIn 3s forwards;
    width: 250px;
  }

  .imgIcone {
    height: 7vh;
  }

  .buttonSeta {
    border: none;
    position: absolute;
    display: flex;
    margin-top: 1vw;
    margin-left: 75%;
    height: 8vh;
    width: 7vh; 
    background-image: url("./assets/images/seta-direita.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent; 
    padding: 0;
    animation: pulse 1.5s infinite;
    
  }

}
